body {
    /*background: url('../images/background.jpg');*/
    /*background: #06919f;*/
    background: #e8e8e8;
    /*font-family: 'Roboto', sans-serif;*/
}
/*div.container {
    background: #e8e8e8;
}*/
.mn-home {
    background: url('../images/homebg.gif');
    height: 638px;
}